# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Downloaded Jenkins/Groovy IDE dependencies
/groovy-sdk/
/jenkins-libs/
/jenkins-sources/

/jarRepositories.xml